*{
    background-color: rgba(181, 110, 247, 0.671);
}
.art{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    background-color: rgb(238, 255, 0);
}